<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:metadata id="metadata-for-view">
        <f:event id="preRenderView-Event" type="preRenderView" listener="#{smartGreenhouseAppControlScreenBean.preRenderViewListener}"/>
    </f:metadata>
    <body id="body">
        <ui:composition id="mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="center" name="center">
                <h3 id="pageHeading">#{msg['smartGreenhouseAppControlScreenHeading']}
                </h3>
                <h:form id="mainForm">
                    <p:panelGrid id="smartGreenhouseAppControlScreen" layout="grid" columns="1">
                        <p:panelGrid id="smartGreenhouseAppControlFormPanelGrid" layout="grid" columns="2">
                            <!-- form element for ui component 'dataProvisioningHost' -->
                            <p:outputLabel id="dataProvisioningHostLabel" for="dataProvisioningHost" value="#{msg['dataProvisioningHostLabel']}"
                                title="#{msg['dataProvisioningHostLabelTitle']}"/>
                            <p:inputText id="dataProvisioningHost" value="#{smartGreenhouseAppControlScreenBean.dto.smartGreenhouseAppControlForm.dataProvisioningHost}"/>
                            <!-- form element for ui component 'dataProvisioningContextRoot' -->
                            <p:outputLabel id="dataProvisioningContextRootLabel" for="dataProvisioningContextRoot" value="#{msg['dataProvisioningContextRootLabel']}"
                                title="#{msg['dataProvisioningContextRootLabelTitle']}"/>
                            <p:inputText id="dataProvisioningContextRoot" value="#{smartGreenhouseAppControlScreenBean.dto.smartGreenhouseAppControlForm.dataProvisioningContextRoot}"/>
                            <!-- form element for ui component 'dataProvisioningApplicationPath' -->
                            <p:outputLabel id="dataProvisioningApplicationPathLabel" for="dataProvisioningApplicationPath" value="#{msg['dataProvisioningApplicationPathLabel']}"
                                title="#{msg['dataProvisioningApplicationPathLabelTitle']}"/>
                            <p:inputText id="dataProvisioningApplicationPath" value="#{smartGreenhouseAppControlScreenBean.dto.smartGreenhouseAppControlForm.dataProvisioningApplicationPath}"/>
                        </p:panelGrid>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>