<html id="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions" xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions">
    <body id="html_body">
        <ui:composition id="body_mainComposition" template="/template/templateNorthWestCenter.xhtml">
            <ui:define id="mainComposition_center" name="center">
                <h3 id="center_pageHeading">#{msg['notificationAppControlScreenHeading']}
                </h3>
                <h:form id="center_mainForm">
                    <p:panelGrid id="mainForm_notificationAppControlScreen" layout="grid" columns="1">
                        <p:panelGrid id="notificationAppControlScreen_notificationAppControlFormPanelGrid" layout="grid" columns="2"
                            styleClass="vd-panel-grid-for-data-container">
                            <!-- form element for ui component 'dataProvisioningHost' -->
                            <p:outputLabel id="notificationAppControlFormPanelGrid_dataProvisioningHostLabel" for="notificationAppControlFormPanelGrid_dataProvisioningHost" value="#{msg['dataProvisioningHostLabel']}"
                                title="#{msg['dataProvisioningHostLabelTitle']}"/>
                            <p:inputText id="notificationAppControlFormPanelGrid_dataProvisioningHost" value="#{notificationAppControlScreenBean.dto.notificationAppControlForm.dataProvisioningHost}"/>
                            <!-- form element for ui component 'dataProvisioningContextRoot' -->
                            <p:outputLabel id="notificationAppControlFormPanelGrid_dataProvisioningContextRootLabel" for="notificationAppControlFormPanelGrid_dataProvisioningContextRoot" value="#{msg['dataProvisioningContextRootLabel']}"
                                title="#{msg['dataProvisioningContextRootLabelTitle']}"/>
                            <p:inputText id="notificationAppControlFormPanelGrid_dataProvisioningContextRoot" value="#{notificationAppControlScreenBean.dto.notificationAppControlForm.dataProvisioningContextRoot}"/>
                            <!-- form element for ui component 'dataProvisioningApplicationPath' -->
                            <p:outputLabel id="notificationAppControlFormPanelGrid_dataProvisioningApplicationPathLabel" for="notificationAppControlFormPanelGrid_dataProvisioningApplicationPath" value="#{msg['dataProvisioningApplicationPathLabel']}"
                                title="#{msg['dataProvisioningApplicationPathLabelTitle']}"/>
                            <p:inputText id="notificationAppControlFormPanelGrid_dataProvisioningApplicationPath" value="#{notificationAppControlScreenBean.dto.notificationAppControlForm.dataProvisioningApplicationPath}"/>
                        </p:panelGrid>
                    </p:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>